html, body { height: 100%; width: 100%; margin: 0; overflow: auto;font-family: 'Open Sans', sans-serif; }
html, body {
  min-height: 100% !important;
  height: 100%;
}
body {background: #1a1a1a; color: #fff; overflow-y:scroll; }
a{ color: #fff; text-decoration: underline; text-transform: uppercase;}
a:hover{ color: #fff; text-decoration: none; }


input:-webkit-autofill,
input:active:-webkit-autofill,
.form-control:focus,
textarea:-webkit-autofill,
select:-webkit-autofill{ -webkit-box-shadow: 0 0 0px 1000px black inset; -webkit-text-fill-color: #fff !important;}

accordion-search input:-webkit-autofill,
accordion-search input:active:-webkit-autofill,
accordion-search .form-control:focus{ -webkit-box-shadow: 0 0 0px 1000px #ffd800 inset; -webkit-text-fill-color: #fff !important;}



.container{ height: 100%;}
.login-bg{ background: url("/src/assets/images/bg.jpg"); background-size: cover; height: 90%; margin: 20px; border-radius: 25px;}
.signup-bg{ background: url("/src/assets/images/bg5.jpg"); background-size: cover; height: 90%; margin: 20px; border-radius: 25px;}
.home.jumbotron { background: url("/src/assets/images/bg3.jpg"); background-size: cover; border-radius: 30px;  }
input.form-control { background: #000; border: 2px grey solid; border-radius: 15px;  padding: 25px 15px;}
.button{ text-transform: uppercase; padding: 5px 10px; border: solid 1px yellow; color: yellow; display: inline-block; margin-right: 20px;}
.channel-footer{ color: #fff; text-transform: uppercase;}
.go-button{ background: yellow;border-radius: 50%;  width: 64px;  height: 64px;  border: solid 2px #000; color: #fff;  position: relative; top: 25px;
  -webkit-box-shadow: inset 0px -116px 200px -55px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -116px 200px -55px rgba(0,0,0,0.75);
  box-shadow: inset 0px -116px 200px -55px rgba(0,0,0,0.75);
   }
.top-nav{ background: #656565; padding: 8px; border-radius: 0 0 0 20px;}
.top-nav li{ padding: 8px; text-transform: uppercase; display: inline; color: #ccc; border-right: solid 1px #1c1c1c;}
.top-nav a{ color: #ccc; text-decoration: none;}
.top-nav i { margin-left: 5px; margin-right: 5px;}
.sub-nav{ padding: 0; position: relative; left: 50px;}
.sub-nav li{ display: inline; color: #fff; font-size: 18px; text-transform: uppercase; padding-bottom: 5px; border-bottom: solid 5px transparent; margin-right: 25px;}
.sub-nav li.active{border-bottom: solid 5px #ffd800;}
.welcome-user{ color: #fff; font-size: 24px; padding-right: 25px; font-weight: normal;}
.pull-logo{ margin-top: -30px;}
.menu-list{ padding: 0; margin: 10px;}
.menu-list li{ list-style: none; padding: 8px; cursor: pointer;}
.menu-list li div { text-align: center;  min-height: 45px;  padding: 8px; text-transform: uppercase; font-size: .8em; font-weight: 600;}
pre{ opacity: .95; }

svg-image path{ fill: #ffd800; width: 50px; height: 50px;}
.brand path{ fill: #ffd800;}
.brand path{ fill: #ffd800;}
.active img path{ fill:#000;}


.svg{ height: 45px; fill: #ffd800;}
.icon-logo_square.large:before {  font-size: 10em;}
.svg-small{  height: 25px; width: inherit;}
.icon-logo_square{  color: #ffd800;}
.menu-list .icon-logo_square:hover,  .active .icon-logo_square{  color: black;}

.boxWithHeight, home {
  box-sizing: border-box;
  height: 100%;
}

.text-center a { background: #12322b; padding: 8px; border-radius: 6px; opacity: .7; color:#fff; font-weight: bold; position: relative; top: 8px;  }





























.article-content{ background: #ffffff; border-top: solid 1px #a6a6a8; color: #000; padding: 25px;}

accordion-search{ width: 100%;  height: 250px;  display: block; background: url("/src/assets/images/bg4.jpg");background-size: cover;  border-radius: 25px 25px 0 0;background-repeat: no-repeat;background-position: center;}
accordion-search input.form-control { background: rgba(204, 204, 204, 0.85); text-transform: uppercase; margin-bottom: 8px; }
.accordion label.last-entry{ border-radius: 0 0 25px 25px; overflow: hidden; }
.accordion input[type="checkbox"] {
  display: none;
}
.form-control:focus{ border:2px #dab700 solid; }
.accordion accordion-content label, .accordion-panel-heading{
  background: #c2c2c2;
  color: #000000;
  cursor: pointer;
  margin-bottom: 1px;
  padding: .25em 1em;
  z-index: 20;
  text-transform: uppercase;
  font-weight: normal;
  width: 100%;
  font-size: .75em;
  min-height: 55px;
  border: none;
}
.accordion article{ color: #000;}
.accordion accordion-content label:hover {
  background: #ccc;
}

.accordion accordion-content input:checked + label {
  background: #ccc;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
  margin-bottom: 0;
}
.accordion article {
  background: #f7f7f7;
  overflow:hidden;
  z-index:10;
  max-height: 0;
  transition: max-height .35s ease-out;
}
.accordion article p {
  padding: 1em;
}
.accordion accordion-content input:checked article {
}
.accordion accordion-content input:checked ~ article {
  border-bottom-left-radius: .25em;
  border-bottom-right-radius: .25em;
  margin-bottom: .125em;
  height: auto;
  max-height: 500px;
  transition: max-height .40s ease-in;
}
.accordion .fa-circle{ font-size: .75em}
.accordion .fa-caret-right{ font-size: 2em;}
.accordion input:checked + label .fa-caret-right:before{ content: "\f0d7";}
.accordion label ul, .accordion-panel-heading ul { list-style: none; padding: 0; margin: 0;}

.panel-body{ background: #fff; color: #000; padding: 0;}
.accordion-panel-heading ul li{font-size: 1.2em;}
.accordion-panel-heading ul li + li{font-size: 1.5em;}

.accordion-header{ background: #fbd902; color: #000000; text-transform: uppercase; padding: 15px; border-radius: 25px 25px 0 0;}
.accordion-header button{ background: #eac902; border: none; padding: 8px;}
button.download{ background: #dfdfdf; border: none; padding: 8px;}
.accordion-header .controls{ font-size: 1.5em;}

.accordion-header-label{ font-size: 2em;}
.inner-accordion accordion-group:nth-child(odd) .accordion-panel-heading , .inner-accordion div.sub-item:nth-child(odd) label{ background: #e8e8e8;}
.inner-accordion accordion-group:nth-child(even) .accordion-panel-heading{ background: #d8d8d8; }
.inner-accordion{ background: #464646; padding-top: 3px;}

.inner-accordion accordion-group:nth-child(odd) .accordion-panel {border-radius: 25px 25px 0 0; overflow: auto;}
.inner-accordion accordion-group:nth-child(even) .accordion-panel {border-radius: 0 0 25px 25px; overflow: auto;}


.inner-accordion .panel-body { padding: 20px;}


.no-content .fa-caret-right:before {font:normal normal normal 14px/1 FontAwesome; content: "\f111"; font-size: 12px; color: #000;}
.no-content .accordion-panel.panel-open .accordion-panel-heading { background: #6d6e70; color: #fff;}

.vendor-list{ }


input[type="search"] {
  font-family: FontAwesome;
}
#search {
  position: relative;
  font-size: 18px;
  padding: 5px 10px 0 10px;
  width: 100%;
  background: rgba(70, 70, 70, 0.90);
}
#search label {
  position: absolute;
  left: 25px;
  top: 20px;
}
#search #search-input,
#search .hint {
  padding-left: 43px;
  padding-right: 43px;
  border-radius: 23px;
}
#search .hint {
  color: #aaa;
}
#search #search-clear {
  text-decoration: none;
  position: absolute;
  right: 25px;
  top: 25px;
  color: #777;
}
#search #search-clear:hover {
  color: #8f8f8f;
}
#search-results em {
  font-style: normal;
  text-decoration: underline;
}


.fa-search{ color: #707070;}


































.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
.tabsdemoDynamicHeight md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1; }
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
  background: white; }
.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0; }



@media (min-width: 1200px) {
  .container {
    width: 90%;
  }
}
