<div>
  <basic-routing2><product></product> </basic-routing2>

  <div layout="row" layout-align="end start">
    <div class="welcome-user">Welcome, {{ decodedJwt.username }}!</div>
    <div>
      <ul class="top-nav">
        <li>MUSIC <i class="icon-natGeo_Music"></i></li>
        <li>Stock Footage <i class="icon-natGeo_Reel"></i></li>
        <li><a class="" role="button" (click)="logout()">Logout <i class="icon-natGeo_LogOut"></i></a></li>
        <li><i class="fa fa-desktop"></i></li>
      </ul>
    </div>
  </div>

  <div layout="row">
    <div flex="30"><img src="/src/assets/images/logo.svg" alt="natgeo" height="100" class="pull-logo"></div>
    <div flex="70">
      <ul class="sub-nav">
        <li class="active">Information</li>
        <li>Tutorials</li>
        <li>My Account</li>
      </ul>
    </div>
  </div>

  <div layout="row">
    <div flex="30" layout="column" layout-margin>



      <section class="accordion">

        <accordion-search flex layout="row" layout-align="end end">
          <section id="search">
            <label for="search-input"><i class="fa fa-search"></i></label>
            <input id="search-input" class="form-control input-lg" placeholder="Search info" autocomplete="off"
                   spellcheck="false" autocorrect="off" tabindex="1">
            <a id="search-clear" class="fa fa-times-circle"></a>
          </section>
        </accordion-search>
        <sidenav-accordion></sidenav-accordion>

      </section>

    </div>
    <div flex="" layout="column" layout-margin>
      <section>

        <div class="home jumbotron centered boxWithHeight" layout-padding>

          <div layout="row" layout-align="center center"><span class="icon-logo_square large">&nbsp;</span></div>
          <h2 *ngIf="jwt">Your JWT is:</h2>
          <pre *ngIf="jwt" class="jwt"><code>{{ jwt }}</code></pre>
          <pre *ngIf="jwt" class="jwt"><code>{{ decodedJwt | json }} {{profile }}{{username }}</code></pre>
          <p>Click any of the buttons to call an API and get a response</p>

          <p><a class="btn btn-primary btn-lg" role="button" (click)="callAnonymousApi()">Call Anonymous API</a></p>

          <p><a class="btn btn-primary btn-lg" role="button" (click)="callSecuredApi()">Call Secure API</a></p>

          <p><a class="btn btn-primary btn-lg" role="button" (click)="logout()">Logout</a></p>

          <h2 *ngIf="response">The response of calling the <span class="red">{{api}}</span> API is:</h2>

          <h3 *ngIf="response">{{response}}</h3>
        </div>


        <div class="finance centered boxWithHeight" layout-padding style="display: none;">
          <div class="accordion-header" layout="row" layout-align="center center">
            <div flex="50" class="accordion-header-label">Finance</div>
            <button flex="35">DOWNLOAD PACKAGE <span>22.5 Mb</span></button>
            <div flex="15" class="text-center controls">
              <i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i> <i class="fa fa-close"></i>
            </div>
          </div>
          <article layout="row" class="article-content">
            <p flex="50">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

            <p flex="50">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</p>
          </article>

          <content-accordion></content-accordion>

        </div>

        <div class="preferred-vendors centered boxWithHeight" layout-padding style="display: none;">
          <div class="accordion-header" layout="row" layout-align="left center">
            <div flex="85" class="accordion-header-label">Preferred Vendors A-Z</div>

            <div flex="15" class="text-center controls">
              <i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i> <i class="fa fa-close"></i>
            </div>
          </div>
          <article layout="row" class="article-content">
            <ol type="A" class="vendor-list">
              <li>dfgs</li>
              <li>sdfgs</li>
              <li>dfdfgs</li>
            </ol>


          </article>



        </div>

      </section>

    </div>
  </div>

</div>
